footer
    div(class="container")
        h2 AROUND THE WEB
        a.button(href='https://github.com/yavuzovski', target='_blank')
            img(src='http://sciactive.com/pnotify/includes/github-icon.png')
        a.button(href='https://www.linkedin.com/in/oguzcanyavuz', target='_blank')
            img(src='http://www.plasticsuk.com/images/in-icon.png')
        a.button(href='https://www.freecodecamp.com/yavuzovski', target='_blank')
            img(src='https://cdn-images-2.medium.com/fit/c/32/32/1*MotlWcSa2n6FrOx3ul89kw.png')
