extends layout

block content
    div(class="container title")
        h2 Voting App
    div(class="container")
        p
            a(href="https://github.com/yavuzovski/voting-app", target="_blank") See on Github
            br
            |  created by
            a(href="https://www.freecodecamp.org/yavuzovski", target="_blank")  yavuzovski
        ol(class="stories") User stories:
            li.
                As an authenticated user, I can keep my polls and come back later to access them.
            li.
                As an authenticated user, I can share my polls with my friends.
            li.
                As an authenticated user, I can see the aggregate results of my polls.
            li.
                As an authenticated user, I can delete polls that I decide I don't want anymore.
            li.
                As an authenticated user, I can create a poll with any number of possible items.
            li.
                As an unauthenticated or authenticated user, I can see and vote on everyone's polls.
            li.
                As an unauthenticated or authenticated user, I can see the results of polls in chart form. (This could be implemented using Chart.js or Google Charts.)
            li.
                As an authenticated user, if I don't like the options on a poll, I can create a new option.
    div(class="container")
        if(user)
            p Welcome, #{user.twitter.displayName}
                |
                a(href='/profile')  Profile
                a(href='/polls/newpoll')  New Poll
            include logout
        else
            include login
    div(class="container polls")
        h3 Polls
        each poll in polls
            a(href="/polls/details/" + poll._id)= poll.title
            br
    include footer
