html(lang="en")
    head
        meta(charset="UTF-8")
        title Voting App
        link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/static/css/style.css")

    body
        block content
        block javascript
