extends layout

block content
    div(class="container poll")
        a(href="https://twitter.com/share?ref_src=twsrc%5Etfw", class="twitter-share-button", data-show-count="false") Tweet
        br
        br
    div(class="container", id="react")

block javascript
    script(crossorigin, src="https://unpkg.com/react@16/umd/react.production.min.js")
    script(crossorigin, src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js")
    script(async, src="https://platform.twitter.com/widgets.js", charset="utf-8")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")
    script(src="/static/js/vote.js")
