extends layout

block content
    div(class="container poll")
        p #{poll.title}
        a(href="https://twitter.com/share?ref_src=twsrc%5Etfw", class="twitter-share-button", data-show-count="false") Tweet
        each option in poll.options
            button(type="button", class="btn option", id=option._id, onClick="vote(this.id)")= option.name
            li= option.count
            br
            br
    if(user)
        div(class="container newOptions")
            textarea(id="newOptionsField")
            br
            button(type="button", class="btn", onClick="createNewOptions()") Add New Options


block javascript
    script(async, src="https://platform.twitter.com/widgets.js", charset="utf-8")
    script(src="/static/js/vote.js")
    if(user)
        script(src="/static/js/newOptions.js")
